/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  font-family: "Average Sans", sans-serif;
  ::selection{
    text-decoration-color: white;
    background: #c8e6c9;
  }
  transition: all 0.3s ease-in-out;
}

:root {
  --bg-primary-400: #66bb6a;
  --bg-primary-600: #43a047;
  --bg-primary-700: #388e3c;
  --bg-secondary-light: #E8ECE7;
  --text-primary: white;
}

.button-primary {
  background-color: var(--bg-primary-600);
  color: var(--text-primary);
  height: 52px;

  &:hover {
    color: var(--text-primary);
    background-color: var(--bg-primary-700);
  }
}
