<div class="main-wrapper p-4 pb-0">
  <div class="bg-white drop-shadow-lg rounded-lg pt-3">
    <ng-template #indicatorTemplate><span class="h-100" style="font-size:50px; color: darkseagreen" nz-icon nzType="loading" nzTheme="outline"></span></ng-template>
    <nz-table
      nzShowSizeChanger
      nzSize="small"
      nzPaginationType='default'
      [nzScroll]="{ y: '68vh', x: '992px '}"
      [nzWidthConfig]="['120px', 'auto', 'auto', 'auto', 'auto', 'auto', '180px']"
      nzTableLayout="auto"
      [nzData]="listOfEmployees()"
      [nzFrontPagination]="false"
      [nzLoading]=backendService.isSendingRequest()
      [nzLoadingIndicator]="indicatorTemplate"
      [nzTotal]="backendService.totalEmployees()"
      [nzPageSize]="this.pageSize"
      [nzPageIndex]="this.pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
      <tr>
        <th class="custom-table-title" nzColumnKey="image"></th>
        <th class="custom-table-title" nzColumnKey="name">Name</th>
        <th class="custom-table-title" nzColumnKey="email">Email</th>
        <th class="custom-table-title" nzColumnKey="designation">Designation</th>
        <th class="custom-table-title" nzColumnKey="joindate">Join Date</th>
        <th class="custom-table-title" nzColumnKey="phone">Phone</th>
        <th class="custom-table-title-button" nzColumnKey="action">
          <button class="add-employee-button" (click)="backendService.showAddModal.set(true)">
            <span nz-icon nzType="user-add" nzTheme="outline"></span>
            <span>
              Add Employee
            </span>
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
        @for (data of listOfEmployees(); track data.id) {
          <tr class="custom-table-row">
            <td>
              <div class="d-flex justify-content-center">
                <nz-avatar [nzSize]="52" nzIcon="user" [nzSrc]=getImageUrl(data.user.image)></nz-avatar>
              </div>
            </td>
            <td>{{ data.user.firstName }} {{ data.user.middleName }} {{ data.user.lastName }}</td>
            <td >{{ data.user.email }}</td>
            <td>{{ data.designation }}</td>
            <td>{{ data.joinDate }}</td>
            <td>{{ data.user.phoneNumber }}</td>
            <td>
              <div class="d-flex justify-content-center">
                <button (click)="deleteUser(data.id)" class="drop-down-button drop-shadow-md">
                  <span nz-icon nzType="delete" nzTheme="outline"></span>
                </button>

<!--                <button  class="drop-down-button drop-shadow-md" nz-dropdown nzTrigger="click"  nz-button [nzDropdownMenu]="menu" nzPlacement="bottomRight">-->
<!--                  <span nz-icon nzType="ellipsis"></span>-->
<!--                </button>-->
<!--                <nz-dropdown-menu #menu="nzDropdownMenu">-->
<!--                  <ul nz-menu >-->
<!--                    <button (click)="deleteUser(data.id)" class="btn delete-button w-100">-->
<!--                      <span nz-icon nzType="delete" nzTheme="outline"></span>-->
<!--                      <span> Delete</span>-->
<!--                    </button>-->
<!--                  </ul>-->
<!--                </nz-dropdown-menu>-->
              </div>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>

<app-add-employee></app-add-employee>
